.container{
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.panel{
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    background-color: #ff7979;
    width: 100%;
    padding: 5px 15px;
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    
}

h1{
    flex: 8;
}

.eject{
    flex: 1;
}

.eject i:hover{
    animation: spinning 0.5s ease-in-out forwards;
}

.done{
    flex: 1;
}

.done i:hover{
    color: #33d9b2;
    animation: hover 0.3s ease-in-out forwards;
}

.delete{
    flex: 1;
}

.delete i:hover{
    color: #b33939;
    animation: hover 0.2s ease-in-out forwards;
}

@keyframes hover {
    0% {
        color: #fff;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

@keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

@media screen and (max-width: 500px) {
    .container{
        width: 100%;
    }
}
