body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  background-color: #073349;
  background-image: url("./assets/stars.png");
  animation: pulse 5s forwards;
}

@keyframes pulse{
  0%{
    background-color: #303030;
  }
  100%{
    background-color: #073349;
    

  }
}