.panel{
    min-height: 80px;
    color: #303030;
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
    padding: 10px 30px;
    box-sizing: border-box;
    text-align: center;
}

.panel h3{
    width: 100%;
    background-color: #eb4d4b;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 5px;
    padding: 15px;
    color: #eee;
}

.panelFilter{
    display: flex;
}

.panelFilter input{
    width: 70%;
    padding: 6px 6px;
    font-size: 21px;
    margin: 8px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    background-color: #ddd;
    color: #303030;
}

.panelFilter button{
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 100;
    padding: 6px 6px;
    cursor: pointer;
    align-self: center;
    margin-left: 4px;
    min-width: 120px;
}

.panel button:focus, .panel input:focus{
    outline: none;
}