.simple{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #000;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 5px 5px;
    margin-top: 20px;
    border-radius: 3px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px;
}

input[type=text] {
    width: 55%;
    padding: 6px 6px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    background-color: #ddd;
    color: #303030;
}

input[type=text]:focus{
    outline: none;
}

.simple button{
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: #eb4d4b;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    padding: 6px 6px;
    cursor: pointer;
    align-self: center;
    margin-left: 4px;
}

@media screen and (max-width: 380px) {
    .simply{
        width: 100%;
    }

    .simple button{
        width: 45%
    }

    
input[type=text] {
    width: 92%;
}
}

@media screen and (min-width: 500px) {
    .simply{
        width: 500px;
    }

    
}

/*===================== COMPLEX =======================*/
.complex{
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7);
}

.complexContent{
    margin: 100px auto;
    background-color: rgba(221, 221, 221, 0.9);
    width: 40%;
    height: 550px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.complexContent h2{
    color: #303030;
    margin-top: 5px;
}

.complexContent hr{
    width: 100%;
    height: 4px;
    background-color: #eb4d4b;
    border: 0px;
}

.complexContent input[type=text]{
    width: 70%;
    padding: 6px 6px;
    font-size: 21px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    background-color: #ddd;
    color: #303030;
    margin: 10px auto;
}

.complexContent textarea:focus{
    outline: none;
}

.complexContent textarea{
    width: 70%;
    height: 200px;
    padding: 6px 6px;
    font-size: 21px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    background-color: #ddd;
    color: #303030;
    margin: 10px auto;
}

.complexContent button{
    padding: 6px 6px;
    font-size: 21px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    background-color: #ddd;
    color: #fff;
    margin: 10px auto;
    min-width: 150px;
    cursor: pointer;
}

.complexContent button:focus{
    outline: none;
    width: 110px;
}

.complexContent span{
    align-self: flex-end;
    padding: 10px 10px 0 0;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
}
