.container{
    margin: 40px auto 0 auto;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    box-sizing: border-box;
    padding: 10px 10px;
}

.container h3{
    margin: 30px auto;
}


