.container{
    height: 100vh;
    background-color: #eee;
    width: 300px;
    position: absolute;
    right: 0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.container i{
    cursor: pointer;
    color: #303030;
    margin: 10px auto 0 auto;
}

ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

li{
    font-size: 21px;
    margin-top: 20px;
    cursor: pointer;
}