.container{
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #eb4d4b;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 1px 7px 1px rgba(48,48,48,1);
-moz-box-shadow: 0px 1px 7px 1px rgba(48,48,48,1);
box-shadow: 0px 1px 7px 1px rgba(48,48,48,1);
}

.logo{
    background-image: url("../../../assets/logo-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70px;
    width: 220px;
    margin-left: auto;
}

.container i{
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    margin-left: auto;
}

.container i:hover{
    color: #0c405a;
}