.container{
    background-color: #dff9fb;
    width: 100%;
    min-height: 100px;
    color: #000;
    box-sizing: border-box;
    padding: 16px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}